<% provide(:title, 'About') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">

      <h1 class="display-4 text-primary">About</h1>
      <p>
        The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
        Tutorial</em></a>, part of the
        <a href="https://www.learnenough.com/">Learn Enough</a> family of
        tutorials, is a
        <a href="https://www.railstutorial.org/book">book</a> and
        <a href="https://screencasts.railstutorial.org/">screencast series</a>
        to teach web development with
        <a href="https://rubyonrails.org/">Ruby on Rails</a>.
        This is the sample app for the tutorial.
      </p>
    </div>

    <div class="col-12 col-lg-6">
      <%= image_tag "about.svg", alt: "home", class: 'img-fluid' %>
    </div>
  </div>
</div>

